<!-- footer.component.html -->
<footer class="footer mdc-typography">
  <div class="container">
    <div class="content">
      <p class="mdc-typography--body1">
        &copy; 2023 Your Company Name. All rights reserved.
      </p>
      <ul class="mdc-list footer-links">
        <li class="mdc-list-item">
          <a class="mdc-typography--button" href="#">Privacy Policy</a>
        </li>
        <li class="mdc-list-item">
          <a class="mdc-typography--button" href="#">Terms of Use</a>
        </li>
        <li class="mdc-list-item">
          <a class="mdc-typography--button" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
