<ng-container *ngIf="product">
  <mat-card [class.featured-product]="product.featured" class="product-details">
    <mat-card-header>
      <div mat-card-avatar class="product-image">
        <img mat-card-image [src]="product.imageUrl" alt="Product Image" />
      </div>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="description">{{ product.description }}</p>
      <p class="category">{{ product.category }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="addToCart(product)">
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
