<!-- src/app/create-product/create-product.component.html -->

<div class="dashboard-container">
  <div class="form-header">
    <h1>Create New Product</h1>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
    <div class="form-row">
      <div class="form-column">
        <mat-form-field class="full-width-input">
          <mat-label>Name</mat-label>
          <input title="Name" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Price</mat-label>
          <input title="Price" matInput formControlName="price" type="number" />
        </mat-form-field>
      </div>

      <div class="form-column">
        <mat-form-field class="full-width-input">
          <mat-label>Description</mat-label>
          <textarea
            title="Description"
            matInput
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Category</mat-label>
          <input title="Category" matInput formControlName="category" />
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Image URL</mat-label>
          <input title="Image URL" matInput formControlName="imageUrl" />
        </mat-form-field>
      </div>
    </div>

    <div class="form-actions">
      <mat-checkbox formControlName="featured">Featured</mat-checkbox>
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
</div>
