<div class="slider-container">
  <div
    class="slider-wrapper"
    [style.transform]="'translateX(-' + currentSlideIndex * 100 + '%)'"
  >
    <div
      class="slide"
      *ngFor="let product of featuredProducts"
      (click)="navigateToProduct(product.id)"
    >
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <div class="slide-description">
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>

  <button class="arrow left" (click)="previousSlide()">&#10094;</button>
  <button class="arrow right" (click)="nextSlide()">&#10095;</button>
</div>
