/* footer.component.css */
@import "~@material/typography/dist/mdc.typography.min.css";
@import "~@material/list/dist/mdc.list.min.css";

.footer {
  background-color: #eee; /* Light grey background */
  padding: 1rem 0; /* Add some padding */
  text-align: center; /* Center the content */
}

.footer-links {
  list-style-type: none; /* Remove list bullets */
  padding: 0; /* Remove default padding */
  margin: 1rem 0; /* Add some margin for spacing */
  display: inline-flex; /* Display links inline */
  gap: 1rem; /* Add space between links */
}

.footer-links .mdc-list-item {
  display: inline-block;
}
