<div *ngIf="users.length; else noUsers">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Active</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <!-- Add other user details columns as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.active }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.dateOfBirth | date }}</td>
        <!-- Display other details -->
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noUsers>
  <p>No users found.</p>
</ng-template>
